* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.header-title {
    font-size: 2rem;
    color: #666;
}

.links a {
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #666;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.footer {
    padding: 2rem;
    text-align: center;
    background-color: #efefef;
}

.container {
    width: 50%;
    margin: 3rem auto;
}

.page-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/* form */
.auth-form {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.auth-form__input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.auth-form__input span {
    width: 150px;
    margin-right: 1rem;
}

.auth-form__input input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}

.auth-form__submit-button-wrap {
    text-align: center;
}

.auth-form__submit-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #00bfff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.error-message {
    display: block;
    margin: -0.5rem 0 0.5rem;
    color: red;
}

/* dashboard */
.dashboard {
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dashboard-title {
    padding: 0.5rem;
    background-color: #efefef;
    font-size: 1.2rem;
    color: #666;
    text-align: center;
}

.dashboard-username {
    padding: 1rem;
    font-size: 1.2rem;
    color: #666;
    text-align: center;
}
